.open-button {
    box-shadow: 0 5px 8px 0 rgb(50, 51, 51);
    background-color: #555;
    color: white;
    
    border: none;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 23px;
    left: 28px;
    width: 220px;
    z-index: 9;
    transition: transform 1s, bottom 1s ;
    transition-timing-function: ease-in-out;  
    transition-property: all;
  
}
  
  /* Add some hover effects to buttons padding: 16px 20px;*/
  .form-container .btn:hover, .open-button:hover {
    
    transform: scale(1.15);
    bottom: 35px;
  }

  .hamper {
     
    animation: shake 03s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .hamper2 {
    display:none;
  }
  .hamper:hover{
  animation-play-state: paused;
  
  }
  @keyframes shake {
    0% { transform: translate(-1px, 2px) rotate(10deg); }
  
    
    
    40% { transform: translate(1px, -1px) rotate(-10deg); }
    50% { transform: translate(-1px, 2px) rotate(10deg); }
    
    70% { transform: translate(1px, -1px) rotate(-10deg); }
    80% { transform: translate(-1px, 2px) rotate(10deg); }
   
    100% { transform: translate(1px, -1px) rotate(-10deg); }
  }
  @media only screen and (max-width: 680px) {
    .open-button {
        
        bottom: 50px;
        left: 22px;
        width: 150px;
        z-index: 9;
        opacity: 0.8;
        transition: transform 1s, bottom 1s ;
        transition-timing-function: ease-in-out;  
        transition-property: all;
      
    }

    .hamper2 {
        display:block;
        position:absolute;
        top: 31px;
        right: 75px;
        width: 120px;
        z-index: 9;
        animation: shake 02s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
        
    }
  }